name: Publish release
on:
  push:
    branches:
      - main
      # branchname trigger if we had the ability to auto-prep release PRs
      # (turned off for doi-usgs org)
      #- v[0-9]+.[0-9]+.[0-9]+*
  release:
    types:
      - published

jobs:

  release:
    name: Create Release
    # runs only when changes are merged to main
    if: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
   

    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4
        with:
          fetch-tags: true

      - name: Get latest tag from merged PR branch
        id: get_tag
        run: |
          TAG=$(git describe --tags --abbrev=0)
          echo "Latest tag: $TAG"
          echo "tag_name=$TAG" >> $GITHUB_OUTPUT

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.get_tag.outputs.tag_name }}
          release_name: pycap-dss ${{ steps.get_tag.outputs.tag_name }}
          body: |
            Changes in this Release:
            Automatically generated from tag ${{ steps.get_tag.outputs.tag_name }}
          draft: true
          prerelease: false


  publish:
    name: Publish package
    # runs only after release is published (manually promoted from draft)
    # (allows editing of release notes, etc.)
    if: ${{ github.event_name == 'release' }}
    runs-on: ubuntu-latest  #ubuntu-22.04
    permissions:
      contents: write
      pull-requests: write
      id-token: write  # mandatory for trusted publishing
    environment:  # requires a 'release' environment in repo settings
      name: release
      url: https://pypi.org/p/pycap-dss
    steps:

      - name: Checkout master branch
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-tags: true

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          cache: 'pip'
          cache-dependency-path: pyproject.toml

      - name: Install Python dependencies
        run: |
          pip install --upgrade pip
          pip install build twine   

      - name: Build package
        run: python -m build

      - name: Check package
        run: twine check dist/*

      - name: Upload package
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1