name: Publish release
on:
  push:
    branches:
      - main
      # branchname trigger if we had the ability to auto-prep release PRs
      # (turned off for doi-usgs org)
      #- v[0-9]+.[0-9]+.[0-9]+*
  
  pull_request:
    branches:
      - main

  release:
    types:
      - published

jobs:

  release:
    name: Create Release
    # runs only when changes are merged to master
    if: startsWith(github.head_ref, 'v')
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Extract version from PR branch
        id: extract_version
        run: |
          VERSION=${GITHUB_HEAD_REF}
          echo "version=$VERSION" >> $GITHUB_OUTPUT


      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.extract_version.outputs.version }}
          name: pycap-dss ${{ steps.extract_version.outputs.version }}
          body: |
            Automated release for version ${{ steps.extract_version.outputs.version }}
          draft: true
          prerelease: false
          token: ${{ secrets.GH_PAT }}


      - name: Create GitHub Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.extract_version.outputs.version }}
          release_name: pycap-dss ${{ steps.extract_version.outputs.version }}
          body: |
            Automated release for version ${{ steps.extract_version.outputs.version }}
          draft: true
          prerelease: false


  

  publish:
    name: Publish package
    # runs only after release is published (manually promoted from draft)
    # (allows editing of release notes, etc.)
    if: ${{ github.event_name == 'release' }}
    runs-on: ubuntu-latest  #ubuntu-22.04
    permissions:
      contents: write
      pull-requests: write
      id-token: write  # mandatory for trusted publishing
    environment:  # requires a 'release' environment in repo settings
      name: release
      url: https://pypi.org/p/pycap-dss
    steps:

      - name: Checkout main branch
        uses: actions/checkout@v5
        with:
          ref: main
          fetch-tags: true

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
          cache: 'pip'
          cache-dependency-path: pyproject.toml

      - name: Install Python dependencies
        run: |
          pip install --upgrade pip
          pip install build twine

      - name: Build package
        run: python -m build

      - name: Check package
        run: twine check --strict dist/*

      - name: Upload package
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

      # - name: Upload to PyPI    
      #   env:
      #     TWINE_USERNAME: __token__
      #     TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
      #   run: twine upload dist/*